body {
  background-color: rgb(07,07,15);
  color: rgb(160,160,180);
  padding: 3em;
}

a {
  color: rgb(255,255,255);
}

#main_container {
  padding: 200px 0;
  margin: 0 auto;
  text-align: center;
  font-family: Arial;
}
