body {
  background-color: rgb(07,07,15);
  color: rgb(255,255,255);
  padding: 3em;
}

a {
  color: rgb(255,255,255);
}

#main_container {
  padding: 200px 0;
  margin: 0 auto;
  text-align: center;
  font-family: Arial;
}

hr {
  border: none;
  height: 4px;
  background: linear-gradient(to right, 
    rgba(100, 100, 100, 0), 
    rgba(100, 100, 100, 1), 
    rgba(100, 100, 100, 0)
  );
  width: 50%;
}

/* Centered Gradient Line */
hr.gradient {
  border: none;
  height: 4px;
  background: linear-gradient(to right, 
    rgba(0, 0, 255, 1), 
    rgba(155, 0, 255, 1), 
    rgba(255, 255, 0, 1)
  );
  width: 30%;
  margin: 20px auto;
}
