body {
  background-color: rgb(07,07,15);
  color: rgb(255,255,255);
  padding: 3em;
}

a {
  color: rgb(255,255,255);
}

#main_container {
  padding: 5vh 0;
  margin: 0 auto;
  text-align: center;
  font-family: Arial;
}

hr {
  border: none;
  height: 4px;
  background: linear-gradient(to right, 
    rgba(0, 0, 150, 0),
    rgba(0, 0, 150, 1),
    rgba(140, 0, 230, 1),
    rgba(170, 60, 25, 1),
    rgba(170, 60, 25, 0)
  );
  width: 50%;
}

/* Centered Gradient Line */
hr.gradient {
  border: none;
  height: 4px;
  background: linear-gradient(to right, 
    rgba(0, 0, 150, 0),
    rgba(0, 0, 150, 1),
    rgba(140, 0, 230, 1),
    rgba(170, 60, 25, 1),
    rgba(170, 60, 25, 0)
  );
  width: 30%;
  margin: 20px auto;
}
